<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="-anel-viario-heading">Create or edit a Anel Viario</h2>
            <div>
                <-alert-error></-alert-error>
                <div class="form-group" [hidden]="!anelViario.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="anelViario.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_codAnel">Cod Anel</label>
                    <input type="number" class="form-control" name="codAnel" id="field_codAnel"
                        [(ngModel)]="anelViario.codAnel" required/>
                    <div [hidden]="!(editForm.controls.codAnel?.dirty && editForm.controls.codAnel?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.codAnel?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.codAnel?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_descAnel">Desc Anel</label>
                    <input type="text" class="form-control" name="descAnel" id="field_descAnel"
                        [(ngModel)]="anelViario.descAnel" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_task">Task</label>
                    <select class="form-control" id="field_task" name="task" [(ngModel)]="anelViario.task">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="servidorOption.id === anelViario.task?.id ? anelViario.task : servidorOption" *ngFor="let servidorOption of tasks; trackBy: trackServidorById">{{servidorOption.trabalhoCasa2}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
